{% extends "::principal_layout.html.twig" %}

{% block title %}ClientUserBundle:Client:getClients{% endblock %}

{% block body %}
    <h1>Confirmation</h1>
    
    Un mail vous a été envoyé !
    
    
{% endblock %}
