{% extends "::principal_layout.html.twig" %}

{% block body %}
    <h1>Gestion des commandes - VPC </h1>

    <form method="post" action="cible.php">

        <p>
            ID Produit 
            <input type="text" name="IDProduit" id="id_IDProduit" />
            <br />

            <!-- Le libellé du produit ainsi que le prix unitaire sont affichés automatiquement -->
            Libellé Produit
            <input type="text" name="LibelleProduit" id="id_LibelleProduit" />
            <br />

            Quantité
            <Input type="number" name="QTEProduit" id = "id_QTEProduit" />
            <br />

            Prix Unitaire
            <input type="text" name="PrixUnit" id ="id_PrixUnit" />

            <!-- Le prix total est calculé automatiquement -->
            Prix Total
            <input type="text" name ="PrixTotal" id = "id_PrixTotal" />

            <input type="submit" value="Valider" id="id_Valider" />
        </p>

    </p>

</form>


{% endblock %}
