{% extends "::principal_layout.html.twig" %}

{% block body %}
    <h1>Gestion des commandes groupe </h1>

    <form method="post" action="cible.php">

        <p>
            Récapitulatif de la commande
        </p>

    </p>

</form>

{% endblock %}
