{% extends "::principal_layout.html.twig" %}

{% block title %}{{ parent() }} - Mail{% endblock %}

{% block body %}
    <h1>Welcome to the Mail Body</h1>
    
   Bienvenu {{name}} ! 
    
{% endblock %}
