{% extends "::principal_layout.html.twig" %}

{% block title %}{{ parent() }} - Clients{% endblock %}

{% block body %}

    <h1>Cette partie n'est pas dans layout global</h1>

    {% for client in liste_clients %}
        <li>{{ client }} => {{ client.dateCreate|date('d-m-y h:m:s') }}</li>
        {% endfor %}
    <h1>Fin de la partie qui change en fonction de l'onglet</h1>
{% endblock %}