{% extends "::principal_layout.html.twig" %}

{% block title %}{{ parent() }} - Inscription{% endblock %}

{% block body %}

    <form action="{{ path('inscription') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
            <input type="submit" value="Enregistrer" />
    </form>
{% endblock %}